# Environment secrets
.env
.env.*
.env*

# Dependencies (Do NOT ignore package-lock.json to ensure deterministic container builds)
node_modules/
/yarn.lock
/pnpm-lock.yaml

# Uploads (user files - ignored but dynamically created by ensureDirectories on boot)
uploads/

# Build output
dist/
build/
coverage/

# Vercel build output
.vercel/
.vercel

# Logs
logs/
*.log
npm-debug.log*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Operating System files
.DS_Store
Thumbs.db
